# Unity用
[Ll]ibrary/APIUpdater/
[Ll]ibrary/Artifacts/
[Ll]ibrary/PackageCache/
[Ll]ibrary/Bee/
[Ll]ibrary/ShaderCache/
[Ll]ibrary/StateCache/
[Ll]ibrary/TempArtifacts/
[Ll]ibrary/UIElements/
[Ll]ibrary/PackageManager/
[Ll]ibrary/ScriptAssemblies/
[Ll]ibrary/BurstCache/
[Ll]ibrary/UndoStack.bin
[Ll]ibrary/UndoData.bin
[Ll]ibrary/Search/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio
.vscode/
*.csproj
*.sln
*.user
*.suo

# OSごとの不要ファイル
.DS_Store
Thumbs.db
Library/Search/transactions.db
Library/ArtifactDB
Library/EditorInstance.json
Library/ilpp.pid
Library/PreviousActionData.bin
Library/PreviousActionStack.bin
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/UndoData.bin
Library/UndoStack.bin
