# Unityが生成するキャッシュ系
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.utmp/
aab/


# Unityのビルド成果物（APKなど）
*.apk
*.aab


# Unity Cloudや他のビルドサービスのキャッシュ
sysinfo.txt

# Visual Studio / JetBrains Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
.idea/
.vscode/

# OSやエディタが生成するゴミファイル
.DS_Store
Thumbs.db

# Crashレポートなど
*.stacktrace

# Mac向けビルドで使われる一時ファイル
*.xcworkspace
*.xcuserstate
*.xcuserdata/

# Android向け設定一時ファイル
.gradle/
local.properties
output/